exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
    "__*.py",
    "**/migrations/**.py",
    "apps.py",
]

line-length = 120
indent-width = 4

target-version = "py313"

[lint]
preview = true

select = ["ALL"]
ignore = ["BLE001", "PD003", "SLF001", "PLC0415", "D106", "E721", "D105", "D211", "D212", "G004", "W191", "D206", "D404", "D203", "CPY001", "EM102", "TRY003", "PLR0904", "D205", "TID252", "D100", "D200", "S603", "S404", "S602", "TRY301", "C417", "FA100", "EM101", "PLR2004", "FURB113", "E741", "UP007", "UP045"]
extend-select = ["DOC"]

fixable = ["ALL"]
unfixable = []

dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[format]
preview = true

quote-style = "double"
docstring-code-format = true

indent-style = "tab"

skip-magic-trailing-comma = false

line-ending = "auto"

[lint.per-file-ignores]
"**/__init__.py" = ["F401"]
"manage.py" = ["PLC0415", "DOC501", "ANN201"]
"**/{tools,services,scripts}/*" = ["ERA001", "DOC201", "D415", "DTZ011", "PD002", "E501", "RUF005", "T201", "PLW1514", "PTH123", "FURB101", "PD004", "ANN001", "D103", "F821", "D102", "ANN201", "PT009", "DTZ001", "PT027", "D101", "D100", "CPY001", "C409", "C405", "C409", "BLE001", "S311", "S301", "S403", "D104"]
"**/{views/*,views.py,serializers/*,serializers.py}" = ["ARG002", "PLR6301", "DOC201", "ANN201", "D101", "ARG001", "PLR0911", "ANN001", "D102", "D103", "ANN003", "ANN002"]
"**/{models/*,models.py}" = ["E501"]

[lint.flake8-quotes]
inline-quotes = "double"

[lint.pydocstyle]
convention = "google"

[lint.pycodestyle]
max-doc-length = 500
